<div class="container my-5" style="height: 500px">
  <div class="mx-auto text-center my-5 py-5">
    <h5 class="font-weight-bold">本当に退会しますか？</h5>
    <br>
    <h5>退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。</h5>
    <br>
    <%= link_to "退会しない", customers_path, class: "btn btn-primary px-3 mx-2" %>
    <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn btn-danger px-4 mx-2" %>
  </div>
</div>