<header class=''
    <h2>商品詳細</h2>
      <div class='container'>
        <div class'row'>
          <div class='col-md-3'>
      
      <table>
        <tr>
          <tr>商品名</tr>
          <tr>商品説明</tr>
          <td>ジャンル</td>
        </tr>
      </table>
    </div>
  </div>
</div>