<div class="container">

  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6' >

      <div class="example">
          <%= image_tag src="cake_top.png" %>
          <p>
            <br>ようこそ、ながのCAKEへ！
            <br>このサイトは、ケーキ販売のECサイトになります。
            <br>会員でない方も商品の閲覧はできますが、
            <br>購入には会員登録が必要になります。
          </p>
      </div>
    </div>
  </div>

  <div class="row">
    <h3><div class="d-inline mt-5 px-3 font-weight-bold">新着商品</div></h3>
    <%= render 'public/items/index', items: @items %>
  </div>

　　<ul class="nav justify-content-end"><%= link_to "全ての商品を見る >", items_path %></ul>

</div>


