<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <%= image_tag 'cake_top.png', size: '700x410' %>
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。 </p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>



  <div class="row">
    <h3><div class="d-inline mt-5 px-3 font-weight-bold">新着商品</div></h3>



  </div>

　　<ul class="nav justify-content-end"><%= link_to "全ての商品を見る >", items_path %></ul>
</div>


