<div class='container'>
  <h3><div class='d-inline p-3 mb-2 bg-light text-dark font-weight-bold'>注文履歴一覧</div></h3>
    <div class='row'>

      <div class='col-md-10'>
        <table class='table thead-light table-bordered'>
          <thead>
            <tr>
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><% order.post_code %>
                  <% order.adress %>
                  <% order.name %>
              </td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
</div>