 <div class='container center'>
   <div class="row">
    <h3><div class="d-inline mt-5 px-3 font-weight-bold">商品一覧</div></h3>
        <h4>(全<%= @item_count %>件)</h4>
 　　　　　　<%= render 'public/items/index', items: @items %>
   </div>

 <ul class="nav justify-content-center"><%= paginate @items %></ul>

</div>

