<header class="border-bottom border-dark mb-5">
  <nav class="navbar">
    <div class="container-fluid">
      <a href="/" class="btn btn-outline-dark btn-lg text-left" >LOGO</a>
      <div class="text-right">
      <ul>
        <% if admin_signed_in? %>

            <a href="/admin/items" class="btn btn-outline-dark" >商品一覧</a>

            <a href="/admin/customers" class="btn btn-outline-dark" >会員一覧</a>

            <a href="/admin/orders/:id" class="btn btn-outline-dark" >注文履歴一覧</a>

            <a href="/admin/genres" class="btn btn-outline-dark" >ジャンル一覧</a>

            <a href="/admin/sign_out" class="btn btn-outline-dark" >ログアウト</a>

        <% elseif customers_signed_in? %>

            <a href="/customers" class="btn btn-outline-dark" >マイページ</a>

            <a href="/items" class="btn btn-outline-dark" >商品一覧</a>

            <a href="/cart_items" class="btn btn-outline-dark" >カート</a>

            <a href="/customers/sign_out" class="btn btn-outline-dark" >ログアウト</a>

        <% else %>

            <a href="/about" class="btn btn-outline-dark" >About</a>

            <a href="/items" class="btn btn-outline-dark" >商品一覧</a>

            <a href="/customers/sign_up" class="btn btn-outline-dark" >新規登録</a>

            <a href="/customers/sign_in" class="btn btn-outline-dark" >ログイン</a>

        <% end %>
        </ul>
        </div>
        <br>
        <div class="input-group text-right">
  <input type="text" class="form-control10">
  <i class="fa-solid fa-magnifying-glass" style="color: primary;"></i>
</div>
  </div>
  </div>
  </nav>

</header>